---
import MainLayout from '../layouts/MainLayout.astro';
import BlogSection from '../components/BlogSection.astro';

import { Image } from "astro:assets";
import WinnardHero from "/src/assets/winnard-2.png"
import skillHtml from "/src/assets/skill-html.png"
import testimonial1 from "/src/assets/testimonial-1.png"


// for blog

---





<MainLayout title="Winnard Bansah ">
    <!-- ======================== Coming Soon =================================== -->
	<!-- <section class="section-coming-soon">
        <div class="container wrapper">
            <div class="coming-soon-container">
                <h1 class="mb-4 text-5xl font-extrabold text-gray-100 dark:text-white md:text-5xl lg:text-6xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Coming</span> Soon.</h1>
                <p class="text-lg font-normal text-gray-100 lg:text-xl my-8">Our Engineers are at work to make your experience an amazing one.</p>
                <a href="https://mail.google.com/mail/u/1/#inbox?compose=CllgCHrfTTWxMRGcwmGxpXCmWqHGCxrDFvxzLKFhjLgMkgfglwDfNkmXXGJRCJdWWDNWnrktLdB" class="btn btn-neutral">Send a Message</a>
            </div>
        </div>
    </section> -->
    <!-- End of coming soon -->



    <!-- ======================== Section Hero ===================================== -->
    <section class="section-hero">
        <div class="container wrapper">
            <div class="grid px-4 py-8 mx-auto lg:gap-8 xl:gap-16 gap-y-12 lg:py-16 lg:grid-cols-12">
                <div class="lg:mt-0 lg:col-span-5 flex justify-center">
                    <Image src={WinnardHero} alt="Winnard Bansah">
                </div>  
                <div class="mr-auto place-self-center lg:col-span-7">
                    <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl">I Will Help You Succeed in the Digital Space</h1>
                    <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl">In a world that's gone digital and keeps advancing, it's smart to meet your audience where they are—online and engaged.</p>
                    <a href="#" class="btn btn-yellow mr-4">Get in Touch</a>
                    <a href="#" class="btn btn-neutral">A bit about me</a> 
                </div>
            </div>
        </div>
    </section>
    <!-- End of section hero -->




    <!-- ===================== About Me ==================== -->
    <section class="section-hero__about py-20">
        <div class="container wrapper">
            <div class="grid grid-cols-1 md:grid-cols-2">
                <div>
                    <h2 class="heading-secondary">About Me</h2>
                    <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl ">A Summary Of What I Do</h1>
                    <p>I am a Social Media Manager, Digital Marketer, and Copywriter. I create engaging content and strategic digital marketing plans.</p>
                    <a href="#" class="btn btn-neutral mt-8">More about me</a>
                </div>
                <div></div>
            </div>
        </div>
    </section>
    <!-- End of About me -->



    <!-- =================== Services ==================== -->
    <section class="section-hero__services py-20">
        <div class="container wrapper">
            <h2 class="heading-secondary">My Services</h2>
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">What I do</h1>

            <div id="service-carousel" class="w-full pb-20 service-carousel"> 
                <!-- Skill 1 -->
                <div class="service">
                    <Image src={skillHtml} alt="Motor Insurance" class=""/>
                    <h2 class="">Website / Blog Content</h2>
                    <p class="mb-8">Your website and blog should feature SEO-optimized content that is both informative and engaging.</p>
                    <div class="dash"></div>
                </div> 
                <!-- Skill 2 -->
                <div class="service">
                    <Image src={skillHtml} alt="Motor Insurance" class=""/>
                    <h2 class="">Social Media Copy</h2>
                    <p class="mb-8">Your company's social media presence is the digital equivalent of your storefront. The copy acts as the welcoming face that potential customers encounter. I'll ensure clients are greeted with the perfect blend of personality, professionalism, and a touch of humor.</p>
                    <div class="dash"></div>
                </div> 
                <!-- Skill 3 -->
                <div class="service">
                    <Image src={skillHtml} alt="Motor Insurance" class=""/>
                    <h2 class="">Social Media Management</h2>
                    <p class="mb-8">Overwhelmed by the prospect of delivering effective social media content? Struggling both run your business and manage your online presence? I'll immerse myself in the heart of your brand, then take the reins on content planning, creation, and publishing.</p>
                    <div class="dash"></div>
                </div> 
                <!-- Skill 4 -->
                <div class="service">
                    <Image src={skillHtml} alt="Motor Insurance" class=""/>
                    <h2 class="">Video Editing</h2>
                    <p class="mb-8">I create high-quality, engaging videos using Adobe Premiere Pro. Whether you need promotional content, social media clips, or corporate videos, I bring your vision to life with precision and creativity. </p>
                    <div class="dash"></div>
                </div> 
        </div>
        </div>
    </section>
    <!-- End of services -->






    <!-- ============================= Section Testimonials ========================= -->
    <section class="section-testimonials py-20">
        <div class="container wrapper">
            <h2 class="heading-secondary">Testimonials</h2>
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Their words, not mine</h1>

            <div id="testimonial-carousel" class="w-full pb-20 testimonial-carousel mt-12"> 
                <!-- testimonial 1 -->
                <div class="testimonial service grid-cols-1 md:grid-cols-3 gap-8 md:gap-12 items-center">
                    <div>
                        <Image src={testimonial1} alt="Motor Insurance" class=""/>
                    </div>
                    <div class="md:col-span-2">
                        <h3 class="company">SEGULA GLOBAL</h3>
                        <p class="mb-8">Winnard is a real team player, working with him on project means you have someone to bring a different perspective and a working one at that helping with the little details that make a big difference.</p>
                        <div class="name">
                            <h2 class="heading-secondary">Carbell Sarfo</h2>
                            <h3>BRAND STRATEGIST AT SEGULA GLOBAL</h3>
                        </div>
                    </div>
                </div> 
                <!-- end of testimonial-1 -->
                <!-- testimonial 2 -->
                <div class="testimonial service grid-cols-1 md:grid-cols-3 gap-8 md:gap-12 items-center">
                    <div>
                        <Image src={testimonial1} alt="Motor Insurance" class=""/>
                    </div>
                    <div class="md:col-span-2">
                        <h3 class="company">iRisk Management Ltd.</h3>
                        <p class="mb-8">With a knack for anticipating and resolving issues before they arise, Winnard's skills are indispensable to any team and it is truly an honor to collaborate with him.</p>
                        <div class="name">
                            <h2 class="heading-secondary">Richmond Duah</h2>
                            <h3>BUSINESS STRATEGIST</h3>
                        </div>
                    </div>
                </div> 
                <!-- end of testimonial-2 -->
                <!-- testimonial 3 -->
                <div class="testimonial service grid-cols-1 md:grid-cols-3 gap-8 md:gap-12 items-center">
                    <div>
                        <Image src={testimonial1} alt="Motor Insurance" class=""/>
                    </div>
                    <div class="md:col-span-2">
                        <h3 class="company">COMPANY</h3>
                        <p class="mb-8">Duis aute irure dolor in reprehenderit in voluptate. Duis aute irure dolor in reprehenderit in voluptate.</p>
                        <div class="name">
                            <h2 class="heading-secondary">Jim Benson</h2>
                            <h3>VP OF DEVOPS AT COMPANY</h3>
                        </div>
                    </div>
                </div> 
                <!-- end of testimonial-3 -->
                
            </div>
        </div>
    </section>
    <!-- End of section testimonials -->



<BlogSection></BlogSection>

    
</MainLayout>





















<style lang="scss">

// //////////////////////// Section Coming Soon ======================
.section-coming-soon {
    background-image: url(/assets/coming-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    min-height: 100vh;
    display: flex;

    .coming-soon-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}
// End of section coming soon




/////////////////// Section Hero ==================================
.section-hero {
    // background: linear-gradient( to bottom, #002035, #111111);
    background-color: rgb(var(--clr-win-black));
    color: rgb(var(--clr-win-white));
}
// End of Section-hero





// ===================== Section -Services ===========================
.section-hero__services {
    background-color: rgb(var(--clr-gray));

    .service {
        background-color: rgb(var(--clr-win-black));
        padding: 2rem;
        border-radius: 1rem;
        text-align: left;
        margin-inline: .5rem;

        img {
            width: 80px;
            margin-bottom: 1rem;
        }
        h2 {
            font-size: 1.8rem;
            font-weight: bold;
            line-height: 1;
            margin-bottom: .5rem;;
        }

        .dash {
            width: 40px;
            height: 3px;
            border-radius: 3px;
            background-color: rgb(var(--clr-win-white));
        }
    }
}
// End of section-services




// =========================== Section Testimonial ==============================
.section-testimonials {

    .testimonial {
        display: grid !important;
        width: 100%;
        padding: 1rem;
        margin-inline: 1rem;

        img {
            // max-height: 200px;
            // width: auto;
        }

        .company {
            text-decoration: uppercase;
            color: rgb(82, 82, 82);
        }

        p {
            font-size: 2rem;
            line-height: 1.6;
        }

        h3 {
            color: rgb(82, 82, 82);
            font-weight: 400;
        }
        .heading-secondary {
            margin-bottom: .5rem;
        }

    }
}















// =================================================================================
                        // Media Queries
// ================================================================================
@media screen and (max-width: 767px) {
    .section-hero {
        padding-top: 7rem;

        img {
            width: 80%;
        }
    }
}

</style>
