---
import MainLayout from "../layouts/MainLayout.astro";
import PageHero from "../components/PageHero.astro";
import Banner from "../components/Banner.astro";
import BlogSection from "../components/BlogSection.astro";

import { Image } from "astro:assets";
import NGI from "../assets/ngi-logo.png";
import Project1 from "../assets/project-1.png";
---








<MainLayout title="Winnard | Portfolio">


    <!--============================ Portfolio Hero =========================  -->
    <PageHero>
        <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Portfolio</h1>
        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 15</p>
    </PageHero>

    <!-- ============================ Portfolio Projects ===================== -->
    <section class="section-projects bg-windarkGray py-40">
        <div class="container wrapper">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

                <!-- NGI PROJECT -->
                <a href="/NGI-project" class="project">
                    <!-- head -->
                    <div class="head">
                        <Image src={NGI} alt="NGI logo" />
                        <h1>Northern Girl Initiative</h1>
                        <ul class="tag-list">
                            <li class="tag-item">copywriting</li>
                            <li class="tag-item">copywriting</li>
                        </ul>
                    </div>
                    <div class="body">
                        <Image src={Project1} alt="My first project" />
                    </div>
                </a>
                <!-- End of NGI project -->

                <!-- NGI PROJECT -->
                <a href="/NGI-project" class="project">
                    <!-- head -->
                    <div class="head">
                        <Image src={NGI} alt="NGI logo" />
                        <h1>Northern Girl Initiative</h1>
                        <ul class="tag-list">
                            <li class="tag-item">copywriting</li>
                            <li class="tag-item">copywriting</li>
                        </ul>
                    </div>
                    <div class="body">
                        <Image src={Project1} alt="My first project" />
                    </div>
                </a>
                <!-- End of NGI project -->

                <!-- NGI PROJECT -->
                <a href="/NGI-project" class="project">
                    <!-- head -->
                    <div class="head">
                        <Image src={NGI} alt="NGI logo" />
                        <h1>Northern Girl Initiative</h1>
                        <ul class="tag-list">
                            <li class="tag-item">copywriting</li>
                            <li class="tag-item">copywriting</li>
                        </ul>
                    </div>
                    <div class="body">
                        <Image src={Project1} alt="My first project" />
                    </div>
                </a>
                <!-- End of NGI project -->

                <!-- NGI PROJECT -->
                <a href="/NGI-project" class="project">
                    <!-- head -->
                    <div class="head">
                        <Image src={NGI} alt="NGI logo" />
                        <h1>Northern Girl Initiative</h1>
                        <ul class="tag-list">
                            <li class="tag-item">copywriting</li>
                            <li class="tag-item">copywriting</li>
                        </ul>
                    </div>
                    <div class="body">
                        <Image src={Project1} alt="My first project" />
                    </div>
                </a>
                <!-- End of NGI project -->



            </div>
        </div>
    </section>
    <!-- End of section projects -->




    <!-- ========= Section Banner ============ -->
    <Banner></Banner>
    <!-- End of Banner -->

    <!-- ========== Section Blog ========== -->
    <BlogSection></BlogSection>
    <!-- End of Blog section -->


</MainLayout>






<style lang="scss">

    .section-projects {

        .project {
            background-color: rgb(var(--clr-win-black));
            border-radius: 1rem;
            overflow: hidden;
            display: inline-block;
            transition: all .2s;
            box-shadow: 0 4px 10px black;;

            &:hover, &:focus {
                transform: translateY(-5px);
            }

            .head {
                padding: 2rem;

                img {
                    width: 150px;
                }
                h1 {
                    font-size: 2rem;
                    font-weight: bolder;
                    margin: .5rem 0;
                }
            }
            .tag-list {
                display: flex;

                .tag-item {
                    display: inline-block;
                    padding: .3rem 1.5rem;
                    border-radius: 1rem;
                    font-size: .8rem;

                    &:nth-child(1) {
                        background-color: #FFF9BF;
                        color: #D0BB00;
                    }
                    &:nth-child(2) {
                        background-color: #C5DCFF;
                        color: #003381;
                    }

                    &:not(:last-child) {
                        margin-right: 1rem;
                    }
                }
            }
        }
        // end of head

        .body {
            width: 100%;
            height: 250px;
            overflow: hidden;

            img {
                // object-fit: cover;
            }
        }
    }

</style>